@import "../utilits/mixins";
@import "../utilits/variables";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  @include align-container(flex, false, false);
  max-width: 1368px;
  margin: auto;
}

.min-height {
  min-height: 768px;
}

a {
  color: $text-color;
  text-decoration: none;
}
